body
{
    overflow-x: hidden;
}
#main-page
{
    background: url('../images/bg-banner.jpg') no-repeat fixed;
	background-size: cover;
	min-height: 650px;
	position: relative;

}

.base
{
    margin-top: 0 auto 10% auto;
    padding-top: 10%;
}

/* Banner */
.banner-logo
{
    width:150px;
    margin-left: 20px;
    
}

.bg-color{
	background-color: RGBA(13, 70, 83, 0.78);
	min-height: 650px;
}

/* Navbar */
.nav-link
{
    font-family: 'Inter';
    font-weight: bold;
    
    color: white !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    
}

.home-nav
{
    position:fixed;
}



/* Description */

.desc-basepage
{
    display: flex;
    flex-direction: row;
}
.content-desc
{
    margin: 12% auto;
    text-align: center;
}

.base-desc
{
    margin:0 auto 2% auto;
    padding-top: 12%;
    text-align: center;
    padding-bottom: 2%;
}

.box-left, .box-right
{
    width: 300px;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgb(11, 76, 92,0.78)), url('../images/bg-banner.jpg');
    border-radius: 10%;
    padding-top: 10%;
    text-align: center;
    border: 2px solid white;
    box-shadow: 2px 3px 10px rgba(241, 241, 241,0.78) !important;


}

.box-left h1, .box-right h1
{
    color: white;
    font-family: 'Inter'  !important;
    font-weight: bolder !important;
    font-size: 3rem  !important;
    
}



.boxes
{
    margin: 15% 2% 1% 2% !important;
}

.desc-logo
{
    width: 250px;
}

.content-desc h1, .admin-desc h1, .base-desc h1
{
    color: white;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 3rem;
    padding-top: 15px;
}

.content-desc p,.admin-desc p, .base-desc p
{
    color: white;
    font-family: 'Inter';
    font-weight: medium;
    font-size: 1rem;
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;
    
}

.actionbutton
{
    background-color: #59AA1A !important;
    width: 200px !important;
    color:white !important;
    font-family: 'Inter' !important;
    font-weight: bolder !important;
    font-size: 2rem !important;
    margin-top: 30px !important;
    border-radius: 24px !important;
}

/* Modal */

.modal-content
{
    
    background: linear-gradient(RGBA(13, 70, 83, 0.78),rgba(255,255,255,.5) ), url('../images/bg-banner.jpg');
    
	

}

.logmod
{
    margin-top: 15% !important;
}

.updatemod
{
    margin-top: 10% !important;
}

.uplab
{
    text-align: left !important;
    font-family: 'Inter';
    font-weight: bold;
}


.inmodal
{
    
    width:150px;
    margin: 2% auto;
}

.log
{
    background-color: RGBA(13, 70, 83, 0.78) !important;
}

.regmod
{
    margin-top: 5% !important;
}

.modal-content
{
    border: 5px solid white !important;
}

/* Vision */
.vision-row img
{
    width: 100px;
    border-radius: 50%;
}

.vision-row
{
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
    
}

.vispic, .tpic
{
    width: 20%;
    float:left;
    margin-right: 30px;
    
}



span
{
  /* text-decoration: underline;
  text-decoration-color: #2BB4E0; */
  padding-bottom: 1px;
  border-bottom: 5px solid #2BB4E0;
}

.heading
{
    text-align: center;
    
    margin-top: 0 auto ;
    padding-top: 250px;
}

.heading h1, .display-4
{
    font-family: 'Inter';
    font-weight: bolder !important;
    font-weight: 3 rem;
}

.vision-row p
{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1rem;
    
}

.vision-row:hover {
    transform: scale(1.2);
    }

.team-row img
{
    width: 200px;
    border-radius: 50%;
}

.team-row
{
    width: 90%;
    margin: 0 auto 150px auto;
    text-align: left;
    line-height: 2;
    
}

.teampic
{
    padding-top: 50px;
    padding-left: 150px !important;
}

.team-row h3, .query h3
{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1rem;
    
}

.team-row p
{
    font-family: "Inter";
    font-weight: bold;
}

.team-row:hover {
    transform: scale(1.2);
    }

.contactus h1
{
    font-family: 'Inter';
    font-weight: bolder !important;
    font-weight: 3 rem;
}

.contactus
{
    padding-left: 15% !important;
}

.query
{
    padding-top: 7% !important;
}

.notif
{
    width:500px;
    height:4vh;
    background-color:rgba(192, 65, 65, 0.897);
    
    text-align: center;
    color: white;
    font-family: 'Inter';
    padding-top:2px;
    margin:0 auto;

}

.success_query
{
    width:500px;
    height:4vh;
    background-color:rgba(113, 219, 118, 0.897);
    
    text-align: center;
    color: white;
    font-family: 'Inter';
    padding-top:2px;
    margin:0 auto;
    transition-duration:1s; /* <= creates fade out effect */
    transition-delay:1s;
}

.blink {
    color: red;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }



#hideme {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

table
{
    margin-top: 7%;
    width:50%;
    border: 0 !important;
}

td
{
    padding: 10px !important;
}

tr
{
    background-color: white  !important;
}

.form-control
{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 3% !important;
}

.btn
{
    margin-bottom: 2%;
}

.icon
{
    color: #2BB4E0;
    margin-top: 60px;
    float:right;
    margin-right: 20px;
    
}

.success
{
    font-family: 'Inter';
    font-weight: medium !important;
    font-weight: 3 rem !important;
}


.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
  }

.dropdown
{
    padding-right: 5% !important;
}

/* Footer */
.foot
{
    background-color: #eaeaea;
    
}

.foot p
{
    padding: 20px;
    font-family: 'Inter';
    font-weight: medium;
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0;
    

}

/* Logged In Admin Page */
.nextbuttons
{
    width:fit-content;
    background-color: #59AA1A !important;
    font-family: 'Inter' !important;
    font-weight: bold !important;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.adminfooter
{
    background-color: #eaeaea;
    font-family: 'Inter';
    font-weight: lighter;
    font-size: 0.9rem;
    text-align: center;
    padding-top: 1.25%;
    padding-bottom: 0.75%;
}

.admin-desc
{
    text-align: center;
    margin:5% auto 1% auto;
}
.newslinks
{
    text-align: center;
}
.newsbuttons
{
    background: linear-gradient(#2BB4E0,#000080) !important;
    font-family: 'Inter';
    font-weight: bold !important;
    font-size: 1rem !important;
    margin-left: 7%;
    margin-right: 5%;
}

.updatebuttons
{
    background: linear-gradient(#2BB4E0,#000080) !important;
    font-family: 'Inter';
    font-weight: bold !important;
    font-size: 1rem !important;
    margin-left: 5%;
    margin-right: 5%;
}

/* News Page */

.onlynav
{
    /* background: linear-gradient(RGBA(13, 70, 83, 0.78) ), url('../images/bg-banner.jpg') !important; */
    /* background-image:url('../images/bg-banner.jpg'); */
    background: linear-gradient(RGBA(13, 70, 83, 0.78),rgba(255, 255, 255, 0.041) ), url('../images/bg-banner.jpg');
    width: 100%;
    position: fixed !important;
    top:0px;
    z-index: 1;
    
}

/* .container
{
    display: flex;
    flex-direction: row;
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 10px;
    margin-left: 2%;
    margin-top: 10%;
    
    
  }

  .cardnews
  {
      margin-bottom: 20px;
      margin-top: 30%;
      font-family: 'Inter';
      /* border: 5px solid black !important; */
      border-radius: 20px !important;
      box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.7) !important;
  }

  .cardnews:hover
  {
      transform: scale(1.05);
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

/* Dashboard */
  /* .b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  } */

  .sidebarmenu
  {
      
      height: 100vh;
      
      background: linear-gradient(RGBA(13, 70, 83, 0.78), rgba(255, 255, 255, 0.041) ), url('../images/bg-banner.jpg');
      padding-top: 30px !important;
      z-index: 2;
    
  }
  
  .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .nav-flush .nav-link {
    border-radius: 0;
  }
  
  .btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: black;
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: black;
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    color: black !important;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: black;
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 2rem;
    text-decoration: none;
    font-family: 'Inter';
    font-size: medium;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;

  }
  .selected
  {
    background-color: #d2f4ea;
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }

  .mb-1 button
  {
      color:black;
      font-family: 'Inter';
      font-weight: bolder;
  }

  .sidebarmenu p
  {
      color:black;
      font-family: 'Inter';
      font-weight: bolder;
      padding-left: 18px;
  }

  .sidebarmenu hr
  {
      border-top: 2px solid black;
  }

  

  .dashboard
  {
      display:flex;
      flex-direction: row;
  }

  
   .data 
   {
       display:flex;
       flex-direction: row;
       width:70%;
   }

  .cardgraph
  {
      width:70%;
      margin-top: 120px;
      margin-left: 50px;
      height:80vh;
      /* border-right: 0 !important; */
      border-radius: 30px !important;
  }

  .prob
  {   width: 60%;
      margin: 2px auto !important;
      padding: 0;
      text-align: center;
      background-color: rgba(107, 231, 114, 0.897);
      border: solid 2px rgba(16, 185, 24, 0.897);
  }

  .numeric-data
  {
      margin-top: 90px;  
      display:flex;
      flex-direction:column;
      
      
  }
  .numeric-card
  {
      width:200px;
      height:10vh;
      margin-left: 60%;
      border-radius: 20px !important;
      border:1px solid black !important;
  }

  .cm-title
  {
    background: linear-gradient(RGBA(13, 70, 83, 1), rgba(12, 1, 1, 0.897) ), url('../images/bg-banner.jpg');
    height: 5vh;
    margin:0;
    text-align: center;
    font-family: 'Inter';
    font-weight: bold !important;
    font-size: 16px !important;
    color:white;
    padding-top: 7px;
    
  }

  .cg-title
  {
    background: linear-gradient(RGBA(13, 70, 83, 1), rgba(12, 1, 1, 0.897) ), url('../images/bg-banner.jpg');
    height: 15vh;
    font-family: 'Inter';
    font-weight: bold !important;
    font-size: 40px !important;
    color:white;
    padding-top:3%;
    padding-left: 7%;
      
      
  }

  .cg-body,.cm-body
  {
      padding: 0 !important;
      
      
      
  }

  .weeklydata
  {
      font-family: 'Inter' !important;
      font-size: 2rem !important ;
      text-align: center;
      font-weight: bolder !important;
  }

  
      

 
  /* Alerting Tables */

  .alert-org
  {
      padding: 10%;
      margin-top: 3%;
      table-layout: auto !important;
      border-radius: 10px !important;
  }

  .alert-org .title
  {
    background: linear-gradient(RGBA(13, 70, 83, 1), rgba(12, 1, 1, 0.897) ), url('../images/bg-banner.jpg') !important;
    color:white;
    font-family: 'Inter';
  }

  .msg-alert
  {
      margin: 10% auto;

  }

  .alerts
  {
      display: flex;
      flex-direction: column !important;
      margin-left:  auto !important;
      margin-right: auto !important;
      margin-top: 5% !important;
      
  }

  .sendbutton
  {
      font-family: 'Inter' !important;
      font-size: 1rem !important;
      font-weight: bold !important;
      background: linear-gradient(RGBA(13, 70, 83, 1), rgba(12, 1, 1, 0.897) ), url('../images/bg-banner.jpg') !important;
      border-radius: 40px  !important;
      margin-left: 5px;
      margin-right: 5px;


  }

  .loader
  {
      /* display: flex; */
      text-align: left  !important;
      display: none;
  }

  .loader::after
  {
      display: flex;
      content:'';
      width:30px;
      height:30px;
      border: 7px solid #dddddd;
      border-top-color:#009579 ;
      border-radius: 50%;
      animation: loader 1s linear infinite;

  }

  @keyframes loader
  {
      to
      {
          transform: rotate(1turn);
      }
  }

 /* Medicines */
 .dropbtn {
    
    color: white;
    
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding-right: 0px !important;
    margin-top: 2.5px !important;
  }

  .dropdown p
  {
      font-family: 'Inter';
      font-weight: bolder;
      font-size: medium;
      padding: 5px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 5px solid RGBA(13, 70, 83, 0.78);
    border-radius: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: RGBA(13, 70, 83, 0.78);}

  .dropdown-content p
  {
      font-family: 'Inter';
      font-weight: medium;
      padding:2% 5%;
  }

  .dropdown-content ul
  {
      padding:2%  5%;
      font-family: 'Inter';
      font-weight: lighter;
      font-size: small;
  }
  .gohome
  {
      margin: 5% auto;
      text-align: center;
  }
  .homebutton
  {
      
      padding: 10px !important;
      font-family:'Inter';
      font-weight: bold;
      color: white !important;
      border-radius: 20px !important;
      text-decoration: none;
      text-align: center;
  }

 



  


  
 

 